PORT=3000
HOST=0.0.0.0
LOG_LEVEL=info
TRUST_PROXY=1

MAIN_TICK_MS=1000
ADD_EVERY_TICKS=10
READ_TICK_BUDGET_MS=250
SCAN_BUDGET=100000

MAIN_QUEUE_CAP=10000
ADD_QUEUE_CAP=10000
MAIN_QUEUE_TIMEOUT_MS=15000
ADD_QUEUE_TIMEOUT_MS=30000
MAX_CUSTOM_IDS=500000
KEY_MAX_LEN=128
REKEY_MAX_SIDE=1024
CHANGE_LOG_SIZE=10000
IDEMPOTENCY_TTL_MS=600000
IDEMPOTENCY_MAX=50000

SSE_HEARTBEAT_MS=15000
SSE_MAX_CLIENTS=2000
SSE_MAX_PER_IP=10

RATE_LIMIT_ENABLED=true
RATE_READ_PER_SEC=20
RATE_READ_BURST=40
RATE_MUTATION_PER_SEC=10
RATE_MUTATION_BURST=30
RATE_ADD_PER_SEC=2
RATE_ADD_BURST=10

CHECK_INVARIANTS=false
SHUTDOWN_TIMEOUT_MS=8000

METRICS_INTERVAL_MS=60000

DEBUG_ENDPOINTS=false
SEED_SELECTED=0
